<div class="w-full lg:text-start text-center">
	&copy; {new Date().getFullYear()} Hynkor
	<span aria-hidden="true" class="hidden md:inline">|</span>
	<br aria-hidden class="block md:hidden" />
	All rights reserved.
</div>
