<div class="w-full p-10 text-center">
	&copy; {new Date().getFullYear()} Hynkor
	<span aria-hidden="true" class="hidden md:inline">|</span>
	<br aria-hidden class="block md:hidden" />
	Todos los derechos reservados.
</div>
