<div
	class="nav-links absolute w-full bg-white left-0 top-16 z-10"
	transition:animate="slide"
>
	<a
		href="/"
		class="block text-center font-medium p-3 lg:flex  hover:bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%"
		>Home</a
	>
	<a
		href="/about/"
		data-astro-reload
		class="block text-center font-medium p-3 lg:flex  hover:bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%"
		>About me</a
	>
	<a
		href="/blog/"
		class="block text-center font-medium p-3 lg:flex  hover:bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%"
		>Blog</a
	>
	<a
		href="/tags/"
		class="block text-center font-medium p-3 lg:flex  hover:bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%"
		>Tags</a
	>
</div>
