---
import InstagramIcon from "@/icons/instagram.astro";
import XIcon from "@/icons/x.astro";
import EmailIcon from "@/icons/email.astro";
import GitHubIcon from "@/icons/github.astro";
---

<ul class="flex justify-center items-center p-10">
	<li><a href="/"><InstagramIcon /></a></li>
	<li><a href="/"><GitHubIcon/></a></li>
	<li><a href="/"><XIcon /></a></li>
	<li><a href="/"><EmailIcon /></a></li>
</ul>
