---
import InstagramIcon from "@/icons/instagram.astro";
import XIcon from "@/icons/x.astro";
import EmailIcon from "@/icons/email.astro";
import GitHubIcon from "@/icons/github.astro";
---

<ul class="flex justify-center items-center gap-1">
	<li>
		<a href="https://instagram.com/kaisherd" target="_blank" rel="noopener"
			><InstagramIcon /></a>
	</li>
	<li>
		<a href="https://github.com/KaisherCode" target="_blank" rel="noopener"><GitHubIcon /></a>
	</li>
	<li><a href="#"><XIcon /></a></li>
	<li><a href="mailto:hch.wilson@hynkor.com"><EmailIcon /></a></li>
</ul>
