---
import Greeting from "@/components/Greeting";

---
<section class="lg:flex w-full lg:h-[500px] justify-evenly items-center lg:gap-5 lg:pt-0 pt-5">
	<div class=" w-full">
		<!-- <Greeting messages={["Hola", "Qué tal", "Hola a todos"]} /> -->
		<Greeting client:load messages={["Hi", "Astronaut", "Hello", "Ghost"]} />
		<h2 class="mb-5 font-extrabold text-2xl">My first <span class=" text-pink-500">Astro Blog</span></h2>
		<p class=" pb-5">
			I'm working on the Astro introductory tutorial. This is the first page of my website, and it's the first one I've built myself! This site will be updated as I complete more parts of the tutorial, so be sure to check back to see how my journey is going!
		</p>
	</div>
	<div class="lg:m-5 w-full">
		<img
			style="mask-image: linear-gradient(to bottom, #f1f5f9 80%, transparent 100%);
			filter:drop-shadow(0 0 5px rgba(0,0,0,.5));"
			src="https://plus.unsplash.com/premium_photo-1680607980708-d2532db7a529?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
			alt="" class="lg:pb-0 pb-5 rounded-lg"
		/>
	</div>
</section>

<style>
	p{
	color: white;
    padding: 16px;
    border-radius: 5px;
    border: 2px solid #0000;
    background: 
        linear-gradient(black, #222) padding-box,
        linear-gradient(#09f, white) border-box;
}
</style>